<div id="wrapper" style="padding:20px;margin:20px;">
	<h2>Test Scenario</h2>
	<div id="filter" class="panel panel-default">
		<div>
			<strong>Rank</strong>
			<input name="rank" type="checkbox" value="a">A
			<input name="rank" type="checkbox" value="b">B
			<input name="rank" type="checkbox" value="c">C
		</div>
		<div>
			<strong>Title</strong>
			<input name="title" type="text">
		</div>
	</div>
	<table id="scenario_list" class="table table-bordered table-condensed">
		<tr id="event_detail_scheme" class="row">
			<td class="col-md-1">Rank</td>
			<td class="col-md-2">Name</td>
			<td class="col-md-4">Description</td>
			<td class="col-md-3">Recently tested on</td>
			<td class="col-md-2">Show</td>
		</tr>
		<tr class="row">
			<td>A</td>
			<td>Login test</td>
			<td>login test description blahblahblah</td>
			<td>14.MAR.03 3:00pm</td>
			<td>Show</td>
		</tr>
	</table>
</div>