<%= render "shared/header" %>

<div class="container-fluid">
	<div class="row-fluid">
		<%= render 'shared/side_bar' %>	
		<div class="col-md-12 contents">
			<div class="test-scenario-head">
				<img src="/assets/scenario_sidebar.png">Test Scenarios
			</div>

			<div class="filter">
				<div class="filter_row">
					<div class="key">Rank</div>
					<div class="value">
						<input type="checkbox" name="rank" value="all">All 
						<input type="checkbox" name="rank" value="a">A 
						<input type="checkbox" name="rank" value="b">B 
						<input type="checkbox" name="rank" value="c">C 
						<input type="checkbox" name="rank" value="d">D 
					</div>
				</div>
				<div class="filter_row">
					<div class="key">Name</div>
					<div class="value">
						<select id = "myList">
						<option value = "1">one</option>
						<option value = "2">two</option>
						<option value = "3">three</option>
						<option value = "4">four</option>
						</select>
					</div>
				</div>
			</div>

			<table class="table table-hover" id="scenario_list">
				<tr id="event_detail_scheme" class="row">
					<td class="row_rank">Rank</td>
					<td class="row_name">Name</td>
					<td class="row_description">Description</td>
					<td class="row_recent">Recently tested on</td>
					<td class="row_show"></td>
				</tr>
				<!-- LOOP -->
				<tr class="row event_list">
					<td class="row_rank">A</td>
					<td class="row_name">Login test</td>
					<td class="row_description">login test description blahblahblah</td>
					<td class="row_recent">14.MAR.03 3:00pm</td>
					<td class="row_show"><div class="link_button">Show</div></td>
				</tr>
				<!-- END LOOP -->
			</table>
		</div>
	</div>
</div>