<%= render "shared/header" %>

<div class="container">
	<div class="row">
	    <%= render 'shared/side_bar' %>
	    <div class="col-sm-8 col-sm-offset-3 col-md-10 col-md-offset-2">

			<h2>Test Scenario</h2>
			<div id="filter" class="outline col-md-12">
				<div>
					<strong>Rank</strong>
					<input name="rank" type="checkbox" value="a">A
					<input name="rank" type="checkbox" value="b">B
					<input name="rank" type="checkbox" value="c">C
				</div>
				<div>
					<strong>Scenario Name</strong>
					<input name="title" type="text">
				</div>
			</div>
			<table id="scenario_list" class="table table-bordered table-condensed">
				<tr id="event_detail_scheme" class="row">
					<td class="col-md-1">Rank</td>
					<td class="col-md-2">Name</td>
					<td class="col-md-4">Description</td>
					<td class="col-md-3">Recently tested on</td>
					<td class="col-md-2">Show</td>
				</tr>
				<!-- LOOP -->
				<tr class="row">
					<td>A</td>
					<td>Login test</td>
					<td>login test description blahblahblah</td>
					<td>14.MAR.03 3:00pm</td>
					<td>Show</td>
				</tr>
				<!-- END LOOP -->
			</table>
		</div>
	</div>
</div>