<%= render "shared/header" %>

<div class="container">
	<div class="row">
	    <%= render 'shared/side_bar' %>
	    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

			<h2>Test Scenario</h2>
			<div id="scenario_info_detail" class="col-md-12 outline">
				<div class="col-md-1"><h2>A</h2></div>
				<div class="col-md-10">
					<h3>TEST_SCENARIO_NAME</h3>
					<div class="well">contentscontentscontents</div>
				</div>
				<div class="col-md-1">edit</div>
			</div>
			<div id="event_flow" class="col-md-12 outline">
				<div class="outline col-md-10">
					<div class="well">
						event chart will go in here
					</div>
				</div>
				<div class="outline col-md-2">
					<div class="well">
						event details
					</div>
				</div>
			</div>
			<table id="event_detail" class="table table-bordered table-condensed">
				<tr id="event_detail_scheme" class="row">
					<td class="col-md-1">Num</td>
					<td class="col-md-4">Activity</td>
					<td class="col-md-2">View</td>
					<td class="col-md-3">Event Type</td>
					<td class="col-md-2">Parameter</td>
				</tr>
				<!-- LOOP -->
				<tr class="row">
					<td>1</td>
					<td>com.android.play.google.indexActivity</td>
					<td>R.id.view</td>
					<td>Scroll</td>
					<td>NULL</td>
				</tr>
				<!-- END LOOP -->
			</table>
		</div>
	</div>
</div>