<%= render "shared/header" %>
<div class="row">
	<%= render 'shared/side_bar' %>
	<div class="col-sm-8 col-sm-offset-3 col-md-10 col-md-offset-2">
		<div class="container">

			<div class="total_report_head">
	    		<p><img src="/assets/scenario_sidebar.png">Test Scenarios</p>
	    	</div>
			<div id="scenario_info_detail" >
				<div class="scenario_info_title">
					<div class="rank">A</div>
					<div class="test_name">Login test</div>
					<div class="edit_button">edit</div>
				</div>
				<div class="detail_content">content content content</div>
				<div class="recently_tested">recently tested on: blahblah</div>
			</div>

			<span class="dashboard_sub">Event Path</span>
			<div id="scenario_event_path">
				<div id="scenario_event_chart">
				</div>
			</div>
			
			<table id="event_detail" class="table table-bordered table-condensed">
				<tr id="event_detail_scheme" class="row">
					<td class="col-md-1">Num</td>
					<td class="col-md-4">Activity</td>
					<td class="col-md-2">View</td>
					<td class="col-md-3">Event Type</td>
					<td class="col-md-2">Parameter</td>
				</tr>
				<!-- LOOP -->
				<tr class="row">
					<td>1</td>
					<td>com.android.play.google.indexActivity</td>
					<td>R.id.view</td>
					<td>Scroll</td>
					<td>NULL</td>
				</tr>
				<!-- END LOOP -->
			</table>
		</div>
	</div>
</div>

<script>
	d3.json("http://127.0.0.1:3000/testdata.json",drawEventFlow);
</script>