<%= render "shared/header" %>
<div class="container-fluid">
	<div class="row-fluid">
		<%= render 'shared/side_bar' %>	
		<div class="col-md-12 contents">

			<div class="page-title">
				<img src="/assets/Result.png">Test Result
			</div>
			<div class="below-page-title">Test Result > Full Report > Detail Report</div>

			<span class="page-subtitle">CPU Usage Chart</span>
			<div class="deeper">
				<div id="cpu-deeper" class="deeper-view"></div>
				<div class="deeper-legend">
					<div id="cpu_graph_detail_info" class="detail-info-box"></div>
				</div>
			</div>
			<span class="page-subtitle">Method Execution Time Chart</span>
			<div class="deeper">
				<div class="method-list-header method-list-row">
					<div class="activity-method">Activity / Method</div>
					<div class="incl">Incl. Time</div>
					<div class="excl">Excl. Time</div>
				</div>
				<div id="cpu-method" class="deeper"></div>
			</div>
			<div class="raw-data-wrapper">
				<div id="cpu-raw-data"></div>
			</div>
		</div>
	</div>
</div>

<script>
d3.json("/testdata.json", function (err, data) {
	drawCPUDeeper(dataProcess(data.cpu_infos));
	makeRawTable(
		"cpu-raw-data",
		data.cpu_infos,
		["id","usage","client_timestamp"],
		["id","cpu usage (percentage)","timestamp"]
	);
})
d3.json("/pe.json", function (err, data) {
	methodProfiling(data.detail_report.cpu_methods_attributes);
})

///api/v1/detail_reports/<%= @detail_report.id %>/get_cpu_infos
//(cpu_infos, cpu_methods)
</script>



