<%= render "shared/header" %>
<div class="container-fluid">
	<div class="row-fluid">
		<%= render 'shared/side_bar' %>	
		<div class="col-md-12 contents">

			<div class="page-title">
				<img src="/assets/Result.png">Test Result
			</div>
			<div class="below-page-title">Test Result > Full Report > Detail Report</div>
			
		</div>
	</div>
</div>

/api/v1/detail_reports/<%= @detail_report.id %>/get_frame_draw_times