<%= render "shared/header" %>
<div class="container-fluid">
	<div class="row-fluid">
		<%= render 'shared/side_bar' %>	
		<div class="col-md-12 contents">

			<div class="page-title">
				<img src="/assets/Result.png">Test Result
			</div>
			<div class="below-page-title">Test Result > Full Report > Detail Report</div>
			
			<span class="page-subtitle">Memory Allocation Status Chart</span>
			<div class="deeper">
				<div id="memory-deeper" class="deeper-view"></div>
				<div id="memory-legend" class="deeper-legend">
					<div id="memory-control">
						<div>Legend</div>
						<div><input type="checkbox" id="dalvik_heap_alloc"><span></span>Dalvik heap allocated</div>
						<div><input type="checkbox" id="dalvik_heap_size"><span></span>Dalvik heap size</div>
						<div><input type="checkbox" id="native_heap_alloc"><span></span>Native heap allocated</div>
						<div><input type="checkbox" id="native_heap_size"><span></span>Native heap size</div>
						<div><input type="checkbox" id="mem_alloc"><span></span>Memory allocated</div>
						<div><input type="checkbox" id="mem_total"><span></span>Memory size</div>
						<div><input type="checkbox" id="dalvik_percentage"><span></span>Dalvik Percentage</div>
						<div><input type="checkbox" id="native_percentage"><span></span>Native Percentage</div>
						<div><input type="checkbox" id="mem_percentage"><span></span>Memory Percentage</div>

					</div>
					<div id="memory-deeper-detail" class="detail-info-box"></div>
				</div>
			</div>

			<div class="raw-data-wrapper">
				<div id="memory-raw-data"></div>
			</div>

		</div>
	</div>
</div>

<script>

d3.json("/testdata.json",function (err, data) {
	drawMemDeeper(dataProcess(data.memory_infos));
	makeRawTable(
		"memory-raw-data",
		data.memory_infos,
		["id","mem_total","mem_alloc","dalvik_heap_size","dalvik_heap_alloc","native_heap_size","native_heap_alloc","client_timestamp"],
		["id","mem_total","mem_alloc","dalvik_heap_size","dalvik_heap_alloc","native_heap_size","native_heap_alloc","timestamp"]
	);
})
///api/v1/detail_reports/<%= @detail_report.id %>/get_memory_infos
</script>

