<%= render "shared/header" %>
<div class="container-fluid">
	<div class="row-fluid">
		<%= render 'shared/side_bar' %>	
		<div class="col-md-12 contents">

			<div class="page-title">
				<img src="/assets/Result.png">Test Result
			</div>
			<div class="below-page-title">Test Result > Full Report > Detail Report</div>
			
			<div class="deeper">
				<div id="memory-deeper" class="deeper-view"></div>
				<div id="memory-legend" class="deeper-legend">
					<div id="memory-control">
						<div><input type="checkbox" id=""><span></span>Something</div>

					</div>
					<div id="memory-deeper-detail"></div>
				</div>
			</div>

			<div class="deeper">
				<div id="memory-raw-data"></div>
			</div>

		</div>
	</div>
</div>

<script>

d3.json("/testdata.json",function (err, data) {
	drawMemDeeper(dataProcess(data.memory_infos));
	makeRawTable(
		"memory-raw-data",
		data.memory_infos,
		["id","mem_total","mem_alloc","dalvik_heap_size","dalvik_heap_alloc","native_heap_size","native_heap_alloc","client_timestamp"],
		["id","mem_total","mem_alloc","dalvik_heap_size","dalvik_heap_alloc","native_heap_size","native_heap_alloc","timestamp"]
	);
})
///api/v1/detail_reports/<%= @detail_report.id %>/get_memory_infos
</script>

