<%= render "shared/header" %>
<div class="container-fluid">
	<div class="row-fluid">
		<%= render 'shared/side_bar' %>	
		<div class="col-md-12 contents">

			<div class="page-title">
				<img src="/assets/Result.png">Test Result
			</div>
			<div class="below-page-title">Test Result > Full Report > Detail Report</div>

			<span class="page-subtitle">Network Response Size Chart</span>
			<div class="deeper">
				<div id="network-deeper" class="deeper-view"></div>
				<div class="deeper-legend"></div>
			</div>

			<div class="deeper">
				<div id="network-raw-data"></div>
			</div>
			
		</div>
	</div>
</div>

<script>
d3.json("/pe.json", function (err, data) {

	makeRawTable(
		"draw-time-raw-data",
		data.network_infos_attributes,
		["id","usage","client_timestamp"],
		["id","cpu usage (percentage)", "timestamp"]
	);
})
///api/v1/detail_reports/<%= @detail_report.id %>/get_network_infos
</script>
