<%= render "shared/header" %>
<div class="container-fluid">
	<div class="row-fluid">
		<%= render 'shared/side_bar' %>	
		<div class="col-md-12 contents">

			<div class="page-title">
				<img src="/assets/Result.png">Test Result
			</div>
			<div class="below-page-title">Test Result > Full Report > Detail Report</div>

			<span class="page-subtitle">Event Path</span>
			<div class="event-screenshot-wrapper">
				<div id="event-screenshot-inner"></div>
			</div>

			<span class="page-subtitle">Network Response Size Chart</span>
			<div class="deeper">
				<div id="network-deeper" class="deeper-view-full"></div>
			</div>

			<div class="deeper">
				<div id="network-raw-data"></div>
			</div>
			
		</div>
	</div>
</div>

<script>
d3.json("/pe.json", function (err, data) {
	console.log(data.detail_report.network_infos_attributes);
	drawNetworkDeeper(dataProcess(data.detail_report.network_infos_attributes));
	drawEventScreenshot(dataProcess(data.detail_report.motion_event_infos_attributes));
	makeRawTable(
		"network-raw-data",
		data.detail_report.network_infos_attributes,
		["response_size","client_timestamp"],
		["response size (B)", "timestamp"]
	);
})

///api/v1/detail_reports/<%= @detail_report.id %>/get_network_infos
</script>
