<%= render "shared/header" %>

<div class="row">
	<%= render 'shared/side_bar' %>
	<div class="col-sm-8 col-sm-offset-3 col-md-10 col-md-offset-2">
		<div class="container">
			<div class="total_report_head">
				<p><img src="/assets/Result.png">Test Result</p>
				<p class="subline">Test Results > Full Report > Detail Report</p>
			</div>

			<span class="dashboard_sub">Report Overview</span>
			<div id="report_overview">
				<div class="report_overview_left">

					<div class="thingy">
						<div class="thingy_sub">Scenario Name</div>
						Login test</div>
					<div class="thingy">
						<div class="thingy_sub">App Version</div>
						1.0</div>
					<div class="thingy">
						<div class="thingy_sub">Device</div>
						Samsung Galaxy Note 3</div>
					<div class="thingy">
						<div class="thingy_sub">Running time</div>
						73.8s (1:13)</div>
					<div class="thingy">
						<div class="thingy_sub">Date/Time</div>
						14.MAR.05 </div>
					<div class="thingy"><div class="thingy_sub">Status</div>
						PASS</div>

				</div>
				<div class="report_overview_right">
					<div class="thingy">Memory avg 20.00MB</div>
					<div class="thingy">CPU avg 11%</div>

					<div class="thingy">Network avg 2394KB</div>
					<div class="thingy">Battery consumption normal</div>

					<div class="thingy">Threads avg 34.12</div>
					<div class="thingy">Frame draw time avg 11.27ms</div>
				</div>
			</div>

			<br><br><span class="dashboard_sub">Event Path</span>
			<button id="toggle">Toggle</button>
			<div id="event_flow">
				<div id="event_chart"></div>
				<div id="event_detail"></div>
			</div>

			<br><br><span class="dashboard_sub">Screenshot</span>
			<div id="screenshot_view">
				<div id="screenshot_row">
					<img src="/assets/screenshots/ss1.png">
					<img src="/assets/screenshots/ss2.png">
					<img src="/assets/screenshots/ss3.png">
					<img src="/assets/screenshots/ss4.png">
					<img src="/assets/screenshots/ss5.png">
					<img src="/assets/screenshots/ss6.png">
					<img src="/assets/screenshots/ss7.png">
					<img src="/assets/screenshots/ss8.png">
					<img src="/assets/screenshots/ss9.png">
				</div>
			</div>
			<div id="mem_chart" class="graph_wrapper">
				<div id="memory"></div>			
			</div>
			<div id="cpu_chart" class="graph_wrapper">
				<div id="cpu" class=""></div>
			</div>

			<!-- OTHER GRAPHS WILL GO IN HERE -->
		</div>
	</div>
</div>

<script>
	d3.json("http://127.0.0.1:3000/testdata.json",drawCharts);
</script>