<%= render "shared/header" %>

<div>
	<%= render 'shared/side_bar' %>
	<div class="container">
		<div class="page_title">
			<div class="image_box">
				<img src="/assets/Result.png">
			</div>
			<div class="text_box">
				<p class="title">Test Result</p>
				<p class="subtitle">Test Results > Full Report > Detail Report</p>
			</div>
		</div>


		<div id="test_results">

			<div id="test_stats" class="half_width_block">
			sth
			</div>

			<div id="test_avg" class="half_width_block">
			sth
			</div>

			<div id="screenshots" class="full_width_block">
			screenshots
			</div>

			<div id="event_div" class="full_width_block">
				<div id="event_flow" class="graph">
				something
				</div>
				<div class="graph_details">
				something
				</div>
				<div class="graph_updown">
				s
				</div>
			</div>

			<div id="mem_div" class="full_width_block">
				<div id="mem_graph" class="graph">

				</div>
				<div class="graph_details">
					<div class="graph_detail_info">
						
					</div>
					<div class="graph_detail_control">blah</div>
				</div>
				<div class="graph_updown">
				s
				</div>
			</div>

			<div id="cpu_div" class="full_width_block">
				<div id="cpu_graph" class="graph">

				</div>
				<div class="graph_details">
				something
					<div class="detail_filter">
						<input type="checkbox" id="checkbox_memory_total">memory total
					</div>
				</div>
				<div class="graph_updown">
				s
				</div>
			</div>

		</div>

	</div>
</div>

<script>
	d3.json("http://127.0.0.1:3000/testdata.json",drawDetailReports);
</script>
