<%= render "shared/header" %>

<div>
	<%= render 'shared/side_bar' %>
	<div class="container">
		<div class="total_report_head">
			<p><img src="/assets/Result.png">Test Result</p>
			<p class="subline">Test Results > Full Report > Detail Report</p>
		</div>

	</div>
</div>

<script>
	d3.json("http://127.0.0.1:3000/testdata.json",drawDetailReports);
</script>