/* axis css */
.axis path{
	fill: none;
	stroke: black;
}
.axis {
	font-size: 8pt;
	font-family: sans-serif;
}
.tick {
	fill: none;
	stroke: black;
}

.event_text {
	font-size: 8pt;
	font-family: sans-serif;
}

/* graph css */

.cpu_path {
	fill: none;
	stroke: #0aa;
	stroke-width: 2px;
}

.mem_path {
	fill: none;
	stroke: #a0a;
	stroke-width: 2px;
}

/* html layout css */

#event_chart {
	height: 130px;
	width: 1000px;
	overflow-x: auto;
	overflow-y: hidden;
	border: dotted;
	border-width: 1px;
	margin-bottom: 10px;
}

#cpu_chart {
	height: 170px;
	width: 1000px;
	overflow-x: auto;
	overflow-y: hidden;
	border: dotted;
	border-width: 1px;
	margin-bottom: 10px;
}

#mem_chart {
	height: 170px;
	width: 1000px;
	overflow-x: auto;
	overflow-y: hidden;
	border: dotted;
	border-width: 1px;
	margin-bottom: 10px;
}