.axis {
	font-size: 10px;
	fill: none;
	color: #A1A1A1;
	stroke: #A1A1A1;
	shape-rendering: crispEdges;
}

.battery-cpu {
	fill: blue;
}
.battery-wifi {
	fill: green;
}
.battery-gps {
	fill: red;
}
.battery-threeg {
	fill: purple;
}
.battery-sound {
	fill: yellow;
}

.activity-line {
	stroke-width: 3;
	stroke: green;
}

.image-line {
	stroke-width: 3;
	stroke: blue;
}

.method-list {

}

.method-list-row {

}

.method-list .activity-method {
	
}

.method-list .incl {
	width: 100px;
	float: right;
}

.method-list .excl {
	width: 100px;
	float: right;
}