/* axis css */
.axis path{
	fill:none;
	stroke: black;
}
.axis {
	font-size:8pt;
	font-family:sans-serif;
}
.tick {
	fill:none;
	stroke:black;
}

.event_text {
	font-size:8pt;
	font-family:sans-serif;
}

/*html layout css*/

#event_chart {
	height: 120px;
	width: 1000px;
	overflow-x: auto;
	overflow-y: hidden;
	border: dotted;
	border-width: 1px;
	margin-bottom: 10px;
}

#cpu_chart {
	height: 170px;
	width: 1000px;
	overflow-x: auto;
	overflow-y: hidden;
	border: dotted;
	border-width: 1px;
	margin-bottom: 10px;
}

#mem_chart {
	height: 170px;
	width: 1000px;
	overflow-x: auto;
	overflow-y: hidden;
	border: dotted;
	border-width: 1px;
	margin-bottom: 10px;
}