<div class="header">
	<div class="logo">
		<%= link_to root_path do %>
			<%= image_tag "/assets/Logo.png" %>
		<% end %>
	</div>
	<div style="float:right;">
		<div class="login-status">
			<div id="user-name">foobar@foobar.com</div>
			<div id="login-dropdown"></div>
		</div>
		<div id="alert-button"></div>
	</div>
</div>

<script>
$(".login-status").mouseover(function () {
	$("#login-dropdown").css("display","block");
}).mouseout(function () {
	$("#login-dropdown").css("display","none");
})
</script>