<div class="header">
	<div class="logo">
		<%= link_to root_path do %>
			<%= image_tag "/assets/Logo.png" %>
		<% end %>
	</div>
	<div style="float:right;">
		<div class="login-status">
			<div id="user-name"><%= current_user.email %></div>
			<div id="login-dropdown" style="height:40px;">
				<div class="divider"></div>
				<div class="login-dropdown-each">
					<%= link_to "Log Out", destroy_user_session_path, method: :delete %>
				</div>
			</div>
		</div>
		<div id="alert-button"></div>
	</div>
</div>

<script>
$(".login-status").mouseover(function () {
	$("#login-dropdown").css("display","block");
}).mouseout(function () {
	$("#login-dropdown").css("display","none");
})
</script>