<div class="col-sm-3 col-md-2 sidebar">

	<div class="project_app">
		<img src="#">
		PROJECT
	</div>

	<ul class="nav nav-sidebar">
		<li><%= link_to "Dashboard", "#" %></li>
		<li><%= link_to "File Upload", "#" %></li>
		<li><%= link_to "Test Results", "#" %></li>
		<li><%= link_to "Test Scenarios", "#" %></li>
	</ul>  
</div>