<div class="sidebar">
	<div class="project_app">
		<img src="/assets/todaybreaker.png">
		<p>PROJECT</p>
	</div>
	
	<div class="sidebar_menu">
		<div><img src="/assets/dashboard_sidebar.png"><%= link_to "Dashboard", project_path(@project) %></div>
		<div><img src="/assets/fileupload_sidebar.png"><%= link_to "File Upload", new_project_apk_path(@project) %></div>
		<div><img src="/assets/testresults_sidebar.png"><%= link_to "Test Results", project_total_reports_path(@project) %></div>
		<div><img src="/assets/scenario_sidebar.png"><%= link_to "Test Scenarios", "#" %></div>
	</div>  

</div>