<%= render "shared/header" %>

<div class="container-fluid">
	<div class="row">
	    <%= render 'shared/side_bar' %>
	    <div class="col-sm-8 col-sm-offset-3 col-md-10 col-md-offset-2">
	    	<h2>Test results</h2>
	    	<!--LOOP-->
	    	<div class="test_result col-sm-12 col-md-12">
	    		<div class="info_box col-sm-4 col-md-4 outline">~</div>
	    		<div class="test_fail_box col-sm-8 col-md-8 outline">~</div>
	    	</div>
	    	<!--END LOOP-->
	    </div>
	</div>
</div>