<%= render "shared/header" %>

<div class="row">
	<%= render 'shared/side_bar' %>
	<div class="col-sm-8 col-sm-offset-3 col-md-10 col-md-offset-2">
		<div class="container">
	    	<div class="total_report_head">
	    		<p><img src="/assets/Result.png">Test results</p>
	    	</div>
	    	<!--LOOP-->
	    	<div class="test_result">
	    		<div class="app_info_box">
	    			<p>AppName.APK</p>
	    			<p>14.03.05, 3:00pm</p>
	    			<p>112 Test Scenarios</p>
	    			<p>10 Devices</p>
				</div>
				<div class="app_version_box">
					<p>App version</p>
					<p class="big_version">1.0.2</p>
				</div>
				<div id="test_fail_box_1" class="test_fail_box">
					<!-- TEST_FAILURE_GRAPH_SVG<br>
					REQUIRES UNIQUE ID -->
				</div>
				<div class="report_link">
					<div class="link_button">FULL REPORT</div>
				</div>
	    	</div>
	    	<!--END LOOP-->

	    </div>
	</div>
</div>

<script>
drawPies();
</script>