<%= render "shared/header" %>

<div class="row">
	<%= render 'shared/side_bar' %>
	<div class="col-sm-8 col-sm-offset-3 col-md-10 col-md-offset-2">
		<div class="container">
	    	<div class="total_report_head">
	    		<p><img src="/assets/Result.png">Test results</p>
	    	</div>
	    	<!--LOOP-->
	    	<div class="test_result">
	    		<div class="app_info_box">
	    			<p>TodayBreaker.APK</p>
	    			<p>14.03.29, 9:40am</p>
	    			<p>112 Test Scenarios</p>
	    			<p>10 Devices</p>
				</div>
				<div class="app_version_box">
					<p>App version</p>
					<p class="big_version">3.6.12</p>
				</div>
				<div id="test_fail_box_1" class="test_fail_box">
					<!-- TEST_FAILURE_GRAPH_SVG<br>
					REQUIRES UNIQUE ID -->
				</div>
				<a href="http://127.0.0.1:3000/projects/1/total_reports/1/">
				<div class="report_link">
					<div class="link_button">FULL REPORT</div>
				</div>
				</a>
	    	</div>
	    	<!--END LOOP-->
	    	<div class="test_result">
	    		<div class="app_info_box">
	    			<p>TodayBreaker.APK</p>
	    			<p>14.03.28, 12:38am</p>
	    			<p>83 Test Scenarios</p>
	    			<p>16 Devices</p>
				</div>
				<div class="app_version_box">
					<p>App version</p>
					<p class="big_version">3.6.11</p>
				</div>
				<div id="test_fail_box_2" class="test_fail_box">
					<!-- TEST_FAILURE_GRAPH_SVG<br>
					REQUIRES UNIQUE ID -->
				</div>
				<div class="report_link">
					<div class="link_button">FULL REPORT</div>
				</div>
	    	</div>
	    	<div class="test_result">
	    		<div class="app_info_box">
	    			<p>TodayBreaker.APK</p>
	    			<p>14.03.27, 5:59pm</p>
	    			<p>83 Test Scenarios</p>
	    			<p>16 Devices</p>
				</div>
				<div class="app_version_box">
					<p>App version</p>
					<p class="big_version">3.6.10</p>
				</div>
				<div id="test_fail_box_3" class="test_fail_box">
					<!-- TEST_FAILURE_GRAPH_SVG<br>
					REQUIRES UNIQUE ID -->
				</div>
				<div class="report_link">
					<div class="link_button">FULL REPORT</div>
				</div>
	    	</div>

	    </div>
	</div>
</div>

<script>

var total_reports_data1 = {"A":[7,17],"B":[34,23],"C":[5,10],"D":[2,19]};
var total_reports_data2 = {"A":[6,18],"B":[19,13],"C":[4,9],"D":[6,11]};
var total_reports_data3 = {"A":[6,18],"B":[15,17],"C":[4,9],"D":[6,11]};


drawPies("#test_fail_box_1",total_reports_data1);
drawPies("#test_fail_box_2",total_reports_data2);
drawPies("#test_fail_box_3",total_reports_data3);


</script>