<%= render "shared/header" %>

<div class="row">
	<%= render 'shared/side_bar' %>
	<div class="col-sm-8 col-sm-offset-3 col-md-10 col-md-offset-2">
		<div class="container">
			<div class="total_report_head">
				<p><img src="/assets/Result.png">Test Results</p>
				<p class="subline">Test Results > Full Report </p>
			</div>

	    	<!-- TEST INFORMATION -->
			<div class="test_information">
				<div class="test_app_icon">
					<img src="/assets/todaybreaker.png">
				</div>
				<div class="test_information_apk">
					<span class="app_name">APP_NAME.APK</span>
					<p>App version</p>
					<span class="ver">1.0.0</span>
				</div>
				<div class="test_information_others">
					<p>14.03.05 10:53AM</p>
					<p>112 Test scenarios</p>
					<p>10 Devices</p>
				</div>
			</div>
			<!-- END TEST INFORMATION -->

			<div id="test_contents">
				
				<ul class="nav nav-tabs">
					<li id="select_overview"><a>Overview</a></li>
					<li id="select_alltests"><a>All Tests</a></li>
					<li id="select_alldevices"><a>All Devices</a></li>
				</ul>
				
				<div id="report_contents">
					
					<div id="overview"><!-- OVERVIEW -->
						
						<div id="test_failure">
							<div class="overview_head">Test Failure</div>
						</div>
						

						<div id="device_failure">
							<div class="overview_head">Device Failure</div>
						</div>

						<div class="overview_head">Performance Average</div>
						<div id="performance_average">
							<div class="avg_section">
								<div class="avg_category">Memory avg 20.00MB</div>
								<div class="max_min">
									<span class="max_min_left">Min 8.51Mb</span>
									<span class="max_min_right">Galaxy S4 (4.3)</span>
									<span class="max_min_left">Max 30.51Mb</span>
									<span class="max_min_right">Galaxy S (2.2)</span>
								</div>
							</div>
							<div class="avg_section">
								<div class="avg_category">CPU avg 11%</div>
								<div class="max_min">
									<span class="max_min_left">Min 8.51Mb</span>
									<span class="max_min_right">Galaxy S4 (4.3)</span>
									<span class="max_min_left">Max 30.51Mb</span>
									<span class="max_min_right">Galaxy S (2.2)</span>
								</div>
							</div>
							<div class="avg_section">
								<div class="avg_category">Network avg 2394KB</div>
								<div class="max_min">
									<span class="max_min_left">Min 8.51Mb</span>
									<span class="max_min_right">Galaxy S4 (4.3)</span>
									<span class="max_min_left">Max 30.51Mb</span>
									<span class="max_min_right">Galaxy S (2.2)</span>
								</div>
							</div>
							
							<div class="avg_section">
								<div class="avg_category">Battery avg ~</div>
								<div class="max_min">
									<span class="max_min_left">Min 8.51Mb</span>
									<span class="max_min_right">Galaxy S4 (4.3)</span>
									<span class="max_min_left">Max 30.51Mb</span>
									<span class="max_min_right">Galaxy S (2.2)</span>
								</div>
							</div>
							<div class="avg_section">
								<div class="avg_category">Threads avg ~</div>
								<div class="max_min">
									<span class="max_min_left">Min 8.51Mb</span>
									<span class="max_min_right">Galaxy S4 (4.3)</span>
									<span class="max_min_left">Max 30.51Mb</span>
									<span class="max_min_right">Galaxy S (2.2)</span>
								</div>
							</div>
							<div class="avg_section">
								<div class="avg_category">Frame draw time avg 11.27ms</div>
								<div class="max_min">
									<span class="max_min_left">Min 8.51Mb</span>
									<span class="max_min_right">Galaxy S4 (4.3)</span>
									<span class="max_min_left">Max 30.51Mb</span>
									<span class="max_min_right">Galaxy S (2.2)</span>
								</div>
							</div>
						</div>
					
					</div><!-- END OVERVIEW -->
					
					<div id="alltests"><!-- ALL TESTS -->
						
						<%= render "filter" %>

						<div class="report_scenario">
							<table>
								<tr class="row">
									<td class="col-md-1">Rank</td>
									<td class="col-md-2">Test Name</td>
									<td class="col-md-2">Status</td>
									<td class="col-md-2">Error</td>
									<td class="col-md-5">Device & API version</td>
								</tr>

								<!-- LOOP -->
								<tr class="row">
									<td class="col-md-1">A</td>
									<td class="col-md-2">Login test</td>
									<td class="col-md-2">FAIL</td>
									<td class="col-md-2">Out of memory error</td>
									<td class="col-md-5">SamsungGalaxyS2(2.3), LGOptimus(2.2) ...</td>
								</tr>
								<!-- END LOOP -->
							</table>
						</div>

					</div><!-- END ALL TESTS -->

					<div id="alldevices"><!-- ALL DEVICES -->
						
						<%= render "filter" %>

						<div class="report_device">
							
							<h3>
								<strong>Asus Nexus 7.2</strong><br>
								<small>Model:Nexus7, OS:4.4.2, CPU: ~~, Heap-size: 512</small>
							</h3>
							
							<table>
								<tr class="row">
									<td class="col-md-1">Rank</td>
									<td class="col-md-3">Test Name</td>
									<td class="col-md-2">Status</td>
									<td class="col-md-6">Error</td>
								</tr>
								<!-- LOOP -->
								<tr class="row">
									<td class="col-md-1">A</td>
									<td class="col-md-3">Login Test</td>
									<td class="col-md-2">Fail</td>
									<td class="col-md-6">Out of memory error</td>
								</tr>
								<!-- END LOOP -->
								<!-- ANOTHER EXAMPLE -->
								<tr class="row">
									<td class="col-md-1">B</td>
									<td class="col-md-3">Some test idunno</td>
									<td class="col-md-2">Error</td>
									<td class="col-md-6">Null pointer exception error</td>
								</tr>
								<!-- END ANOTHER EXAMPLE -->
							</table>
						
						</div><!-- END ALL DEVICES -->

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
//jqeury script to show 1 of following 3 divs: Overview, All tests, and All devices 

$("#overview").css("display","true");
$("#alltests").css("display","none");
$("#alldevices").css("display","none");

$("#select_overview").click(function(){
	$("#overview").css("display","true");
	$("#alltests").css("display","none");
	$("#alldevices").css("display","none");});

$("#select_alltests").click(function(){
	$("#overview").css("display","none");
	$("#alltests").css("display","true");
	$("#alldevices").css("display","none");});

$("#select_alldevices").click(function(){
	$("#overview").css("display","none");
	$("#alltests").css("display","none");
	$("#alldevices").css("display","true");});

drawTestFailPies();
drawDeviceFailure();

</script>