<%= render "shared/header" %>

<div class="container">
	<div class="row">
	    <%= render 'shared/side_bar' %>
	    <div class="col-sm-8 col-sm-offset-3 col-md-10 col-md-offset-2">
	    	<h2>Test Results</h2>
	    	<h4>Test Results > Full Report</h4>
			<div class="col-md-6 outline">
				<p><strong>App Name</strong></p>
				<p>app version: 1.0</p>
				<p>tested date: 14.MAR.05 10:53AM</p>
			</div>
			<div id="test_contents" class="col-md-12 outline">
				<ul class="nav nav-tabs">
					<li id="select_overview"><a>Overview</a></li>
					<li id="select_alltests"><a>All Tests</a></li>
					<li id="select_alldevices"><a>All Devices</a></li>
				</ul>
				<div id="report_contents" class="outline">
					<div id="overview" class="col-md-12">
						<div id="test_failure">
							<div class="col-md-4 outline">1</div>
							<div class="col-md-4 outline">2</div>
							<div class="col-md-4 outline">3</div>
						</div>
						<div id="device_failure">
							<div class="col-md-12 outline">graph</div>
						</div>
						<div id="performance_average" class="outline">
							<div class="col-md-6">Memory avg 20.00MB</div>
							<div class="col-md-6">CPU avg 11%</div>

							<div class="col-md-6">Network avg 2394KB</div>
							<div class="col-md-6">Battery avg ~</div>

							<div class="col-md-6">Threads avg ~</div>
							<div class="col-md-6">Frame draw time avg 11.27ms</div>
						</div>
					</div>
					<div id="alltests" class="col-md-12">
						<div class="filter_form outline">
							<div class="filter_list">
								<div class="col-md-2">Status </div>
								<div class="col-md-10">
									<input type="radio" name="status" value="all">All 
									<input type="radio" name="status" value="failure">Failure 
									<input type="radio" name="status" value="warning">Warning 
									<input type="radio" name="status" value="pass">Pass 
								</div>
							</div>
							<div class="filter_list">
								<div class="col-md-2">Rank </div>
								<div class="col-md-10">
									<input type="checkbox" name="rank" value="all">All 
									<input type="checkbox" name="rank" value="a">A 
									<input type="checkbox" name="rank" value="b">B 
									<input type="checkbox" name="rank" value="c">C 
									<input type="checkbox" name="rank" value="d">D 
								</div>
							</div>
							<div class="filter_list">
								<div class="col-md-2">Date </div>
								<div class="col-md-10">
									<input type="date" name="scenario_name">
								</div>
							</div>
							<div class="filter_list">
								<div class="col-md-2">Scenario</div>
								<div class="col-md-10">
									<input type="text" name="scenario" size="40" placeholder="blah">
								</div>
							</div>
							<div class="filter_list">
								<div class="col-md-2">OS Version </div>
								<div class="col-md-10">
									<div class="btn-toolbar">
										<div class="btn-group">
											<button type="button" class="btn btn-default">All</button>
										</div>
										<div class="btn-group">
											<button type="button" class="btn btn-default">1.0</button>
											<button type="button" class="btn btn-default">2.0</button>
											<button type="button" class="btn btn-default">3.0</button>
											<button type="button" class="btn btn-default">4.0</button>
										</div>
									</div>
								</div>
							</div>
							<div class="filter_list">
								<div class="col-md-2">App Version </div>
								<div class="col-md-10">
									<div class="btn-toolbar">
										<div class="btn-group">
											<button type="button" class="btn btn-default">All</button>
										</div>
										<div class="btn-group">
											<button type="button" class="btn btn-default">1.0</button>
											<button type="button" class="btn btn-default">1.1</button>
										</div>
									</div>
								</div>
							</div>
							<div class="filter_list">
								<div class="col-md-2">Device </div>
								<div class="col-md-10">
									<div class="btn-group">
										<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
										Action <span class="caret"></span>
										</button>
										<ul class="dropdown-menu" role="menu">
											<li><a href="#">device1</a></li>
											<li><a href="#">device2</a></li>
											<li><a href="#">device3</a></li>
											<li class="divider"></li>
											<li><a href="#">etc</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="filter_list" style="text-align:right">
								<button>Search</button>
							</div>
						</div>

						<div class="report_scenario outline">
							<table>
								<tr class="row">
									<td class="col-md-1">Rank</td>
									<td class="col-md-2">Test Name</td>
									<td class="col-md-2">Status</td>
									<td class="col-md-2">Error</td>
									<td class="col-md-5">Device & API version</td>
								</tr>

								<!-- LOOP -->
								<tr class="row">
									<td class="col-md-1">A</td>
									<td class="col-md-2">Login test</td>
									<td class="col-md-2">FAIL</td>
									<td class="col-md-2">Out of memory error</td>
									<td class="col-md-5">SamsungGalaxyS2(2.3), LGOptimus(2.2) ...</td>
								</tr>
								<!-- END LOOP -->
							</table>
						</div>

					</div>
					<div id="alldevices" class="col-md-12">
						<div class="filter_form outline">
							<div class="filter_list">
								<div class="col-md-2">Status </div>
								<div class="col-md-10">
									<input type="radio" name="status" value="all">All 
									<input type="radio" name="status" value="failure">Failure 
									<input type="radio" name="status" value="warning">Warning 
									<input type="radio" name="status" value="pass">Pass 
								</div>
							</div>
							<div class="filter_list">
								<div class="col-md-2">Rank </div>
								<div class="col-md-10">
									<input type="checkbox" name="rank" value="all">All 
									<input type="checkbox" name="rank" value="a">A 
									<input type="checkbox" name="rank" value="b">B 
									<input type="checkbox" name="rank" value="c">C 
									<input type="checkbox" name="rank" value="d">D 
								</div>
							</div>
							<div class="filter_list">
								<div class="col-md-2">Date </div>
								<div class="col-md-10">
									<input type="date" name="scenario_name">
								</div>
							</div>
							<div class="filter_list">
								<div class="col-md-2">Scenario</div>
								<div class="col-md-10">
									<input type="text" name="scenario" size="40" placeholder="blah">
								</div>
							</div>
							<div class="filter_list">
								<div class="col-md-2">OS Version </div>
								<div class="col-md-10">
									<div class="btn-toolbar">
										<div class="btn-group">
											<button type="button" class="btn btn-default">All</button>
										</div>
										<div class="btn-group">
											<button type="button" class="btn btn-default">1.0</button>
											<button type="button" class="btn btn-default">2.0</button>
											<button type="button" class="btn btn-default">3.0</button>
											<button type="button" class="btn btn-default">4.0</button>
										</div>
									</div>
								</div>
							</div>
							<div class="filter_list">
								<div class="col-md-2">App Version </div>
								<div class="col-md-10">
									<div class="btn-toolbar">
										<div class="btn-group">
											<button type="button" class="btn btn-default">All</button>
										</div>
										<div class="btn-group">
											<button type="button" class="btn btn-default">1.0</button>
											<button type="button" class="btn btn-default">1.1</button>
										</div>
									</div>
								</div>
							</div>
							<div class="filter_list">
								<div class="col-md-2">Device </div>
								<div class="col-md-10">
									<div class="btn-group">
										<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
										Action <span class="caret"></span>
										</button>
										<ul class="dropdown-menu" role="menu">
											<li><a href="#">device1</a></li>
											<li><a href="#">device2</a></li>
											<li><a href="#">device3</a></li>
											<li class="divider"></li>
											<li><a href="#">etc</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="filter_list" style="text-align:right">
								<button>Search</button>
							</div>
						</div>

						<div class="report_device outline">
							<h3>
								<strong>Asus Nexus 7.2</strong><br>
								<small>Model:Nexus7, OS:4.4.2, CPU: ~~, Heap-size: 512</small>
							</h3>
							<table>
								<tr class="row">
									<td class="col-md-1">Rank</td>
									<td class="col-md-3">Test Name</td>
									<td class="col-md-2">Status</td>
									<td class="col-md-6">Error</td>
								</tr>
								<!-- LOOP -->
								<tr class="row">
									<td class="col-md-1">A</td>
									<td class="col-md-3">Login Test</td>
									<td class="col-md-2">Fail</td>
									<td class="col-md-6">Out of memory error</td>
								</tr>
								<!-- END LOOP -->
								<!-- ANOTHER EXAMPLE -->
								<tr class="row">
									<td class="col-md-1">B</td>
									<td class="col-md-3">Some test idunno</td>
									<td class="col-md-2">Error</td>
									<td class="col-md-6">Null pointer exception error</td>
								</tr>
								<!-- END ANOTHER EXAMPLE -->
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
//jqeury script to show 1 of following 3 divs: Overview, All tests, and All devices 

$("#overview").css("display","true");
$("#alltests").css("display","none");
$("#alldevices").css("display","none");

$("#select_overview").click(function(){
	$("#overview").css("display","true");
	$("#alltests").css("display","none");
	$("#alldevices").css("display","none");});

$("#select_alltests").click(function(){
	$("#overview").css("display","none");
	$("#alltests").css("display","true");
	$("#alldevices").css("display","none");});

$("#select_alldevices").click(function(){
	$("#overview").css("display","none");
	$("#alltests").css("display","none");
	$("#alldevices").css("display","true");});

</script>