<%= render "shared/header" %>

<div class="container">
  <div class="headline">
    <img src="/assets/Project_list.png">My projects list
  </div>

  <% @projects.each do |project| %>
  <div class="project_box">
    <div class="color_band"></div>
    <div class="app_icon_box"><img src="#"></div>
    <div class="app_info_box">
      <p class="project_title"><%= project.name %></p>
      <span class="date_version">Ver</span>0.0.1<br>
      <span class="date_version">Date</span>14.MAR.20 9:20pm
    </div>
    <div class="test_fail_box">
      <p>Test Fail</p>
      <div class="test_fail_num">
        <div class="test_fail_each">A
          <div class="test_success">17
            <div class="test_fail" style="width:70px">7</div>
            <!-- width: fail percentage * 170px -->
          </div>
        </div>
        <div class="test_fail_each">B
          <div class="test_success">23
            <div class="test_fail" style="width:105px">34</div>
            <!-- width: fail percentage * 170px -->
          </div>
        </div>
        <div class="test_fail_each">C
          <div class="test_success">10
            <div class="test_fail" style="width:60px">5</div>
            <!-- width: fail percentage * 170px -->
          </div>
        </div>
        <div class="test_fail_each">D
          <div class="test_success">19
            <div class="test_fail" style="width:20px">2</div>
            <!-- width: fail percentage * 170px -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>

  <%= link_to 'New Project', new_project_path %> 
</div>