<%= render "shared/header" %>

<div class="row">
  <%= render 'shared/side_bar' %>
  <div class="col-sm-8 col-sm-offset-3 col-md-10 col-md-offset-2">
    <div class="container">
      <div class="dashboard_head">
        <img src="/assets/Dashboard.png">Dashboard
      </div>
      <span class="dashboard_sub">Recent Test Overview</span>
      <div id="overview_box">
        <div class="app_info_box">
          <p>AppName.APK</p>
          <p>14.03.05, 3:00pm</p>
          <p>112 Test Scenarios</p>
          <p>10 Devices</p>
        </div>
        <div class="app_version_box">
          <p>App version</p>
          <p class="big_version">1.0.2</p>
        </div>
        <div id="test_fail_box">
        </div>
        <div class="report_link">
          <div class="link_button">FULL REPORT</div>
        </div>
      </div>

      <div id="test_fail_graph">
        <div id="test_fail_bar_graph">
        </div>
        <div id="test_fail_chart">
          <div class="table_title">
            <span id="table_title_rank" class="rank"></span>
            <span id="table_title_device_name" class="device_name"></span>
          </div>
          <table id="detail_table" class="detail_table">
            <tr class="table_head"><td class="name"> </td><td class="error"> </td></tr>
            <tr><td> </td><td> </td></tr>
            <tr><td> </td><td> </td></tr>
            <tr><td> </td><td> </td></tr>
            <tr><td> </td><td> </td></tr>
          </table>
        </div>
      </div>

      <br>
      <span class="dashboard_sub">Project Trends</span>
      <div id="project_trends">

          <div id="test_results">
            <p>Test results</p>
          </div>

          <div id="cpu_trend">
            <p>CPU usage trend</p>
          </div>
          <div id="mem_trend">
            <p>Memory usage trend</p>
          </div>

          <div id="network_trend">
            <p>Network response time trend</p>
          </div>
          <div id="battery_trend">
            <p>Battery consumption trend</p>
          </div>

          <div id="thread_trend">
            <p>Thread trend</p>
          </div>
          <div id="frame_trend">
            <p>Frame draw time trend</p>
          </div>

      </div>
    </div>
  </div>
</div>

<script>
  //requires data inserted as argument//
  projectsShow();
  drawFailByDevice();
  drawTestResults();
  drawCPUusage();
  drawMemUsage();
  drawNetworkTrend();
  drawBatteryTrend();
  drawThreadTrend();
  drawFrameTrend();
</script>
