<%= render "shared/header" %>

<div class="container-fluid">
  <div class="row">
    <%= render 'shared/side_bar' %>
    <div class="col-sm-8 col-sm-offset-3 col-md-10 col-md-offset-2">
      <h2>Dashboard</h2>
      <div id="drag_drop_box">
        <p>Drag&drop or click to upload APK</p>
      </div>
      <h4>Recent Test Overview</h4>
      <div id="overview_box" class="col-sm-12 col-md-12 outline">
        <div id="app_info_box" class="outline">~</div>
        <div id="test_fail_box" class="outline">~</div>
      </div>
      <div id="test_fail_graph" class="col-sm-12 col-md-12 outline">
        <div id="test_fail_bar_graph" class="outline">~</div>
        <div id="test_fail_chart" class="outline">~</div>
      </div>
      <div id="project_trends">

          <div id="test_results" class="col-sm-12 col-md-12 outline">~</div>

          <div id="cpu_trend" class="col-sm-12 col-md-6 outline">~</div>
          <div id="mem_trend" class="col-sm-12 col-md-6 outline">~</div>

          <div id="network_trend" class="col-sm-12 col-md-6 outline">~</div>
          <div id="battery_trend" class="col-sm-12 col-md-6 outline">~</div>

          <div id="thread_trend" class="col-sm-12 col-md-6 outline">~</div>
          <div id="frame_trend" class="col-sm-12 col-md-6 outline">~</div>

      </div>
    </div>
  </div>
</div>