#apk-upload-section{
	#apk-upload-header{
		h1{
			text-align: center;
		}	
	}
}

.apk-upload-head {
	margin: 40px 0;
	color: rgb(40,112,68);
	font-size: 26px; 
	img {
		margin-right: 16px;
	}
}

#progress-circle{
	padding-top: 300px;
}