
//page title & icon & subtitle

.page-title {
	margin: 10px -30px 15px -25px;
	color: rgb(40,112,68);
	font-size: 20px;
	padding: 15px 25px;
	background-color: #C7E5CF;
	img {
		width: 40px;
		margin-right: 16px;
		vertical-align: text-top;
	}
}

.below-page-title {
	padding-left: 55px;
	margin-top: -45px;
	margin-bottom: 30px;
	color: rgb(93,196,136);
	font: 17px;
}

.page-subtitle {
	padding: 5px 10px 1px 10px;
	background-color: #5DBE88;
	color: #605E5A;
	font-size: 13px;
	border-bottom: solid 3px;
	border-color: #287044;
	display: inline-block;
}

.page-table-header {
	width: 100%;
	div {
		color: #287044;
		font-size: 13px;
		background-color: #A9D8B9;
		text-align: center;
		padding: 5px 0;
	}
}

.rank {
	font-size: 13px;
	height: 20px;
	width: 20px;
	line-height: 16px;
	border-radius: 10px;
	border: solid 3px;
	margin: 3px auto;
	text-align: center;
}
.A {
	border-color: rgb(244,86,86);
}
.B {
	border-color: rgb(239,134,164);
}
.C {
	border-color: rgb(255,130,30);
}
.D {
	border-color: rgb(255,186,80);
}

.filter {
	width: 100%;
	background-color: #EFEEEE;
	padding: 5px;
	font-size: 12px;

	.filter-field {
		width: 100%;
		height: 20px;
		background-color: #EFEEEE;
	}
	.filter-key {
		width: 100px;
		float: left;
		height: 20px;
		color: rgb(40,112,68);
		background-color: #EFEEEE;
	}
	.filter-value {
		float: left;
		height: 20px;
		background-color: #EFEEEE;
	}
	.filter-value-each {
		float: left;
		height: 20px;
		background-color: #EFEEEE;
		padding-right: 30px;
	}
	.filter-value-dropdown {
		position: absolute;
		z-index: 10;
		top: 20px;
		left: 0px;
		width: 120px;
		border: solid 1px;
		max-height: 300px;
		display: none;
		background-color: #EFEEEE;
	}
	.filter-value-dropdown-each {
		width: 120px;
		height: 20px;
		overflow: hidden;
	}
	.filter-value-scenario {
		width: 123px;
		height: 20px;
		background-size: 123px 20px;
		background-image: url("/assets/scenarioname.png");
	}
	.filter-value-scenario:hover {
		background-image: url("/assets/scenarioname_click.png");
	}
	.filter-value-device {
		width: 123px;
		height: 20px;
		background-size: 123px 20px;
		background-image: url("/assets/devicename.png");
	}
	.filter-value-device:hover {
		background-image: url("/assets/devicename_click.png");
	}
	input[type="checkbox"] {
		float: left;
		display: inline-block;
		margin-left: 5px;
		opacity: 0;
		cursor: pointer;
	}

	span {
		float: left;
		width: 12px;
		height: 12px;
		background-size: 12px 12px;
		background-image: url("/assets/select.png");
		margin: 0 5px 0 -12px;
	}

	input[type="checkbox"]:checked + span{
		background-image: url("/assets/select_click.png");
	}
}

.more {
	float: right;
	color: #287044;
	font-size: 13px;
	a {
		font-size: 13px;
		color: #287044;
	}
}

.green-button {
	display: inline-block;
	background-image: url('/assets/button.png');
	width: 120px;
	height: 30px;
	background-size: 120px 30px;
	background-repeat: no-repeat;
	cursor: pointer;
	font-size: 16px;
	text-align: center;
	padding-top: 5px;
	color: #287044;
}