// Place all the styles related to the DetailReports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#report_overview {
	width: 100%;
	height: 120px;
	.thingy_sub {
		color: rgb(93,196,136);
		font-size: 15px;
	}
	.report_overview_left {
		width: 600px;
		float: left;
		background-color: rgb(239,238,238);
		padding: 5px;
		.thingy {
			width: 33.33%;
			height: 60px;
			padding: 5px;
			float: left;
		}
	}
	.report_overview_right {
		width: 570px;
		float: left;
		padding-left: 30px;
		.thingy {
			background-color: rgb(239,238,238);
			width: 260px;
			height: 36px;
			margin: 0 10px 10px 0px;
			padding-top: 5px;
			font-size: 16px;
			float: left;
			text-align: center;
		}
	}
}

#controls {
	background-color: rgb(239,238,238);
	margin: 0px;
	padding: 20px;
	width: 100%;
}

#event_flow {
	margin: 0px;
	padding: 0px 10px;
	width: 100%;
	height: 130px;
	overflow-x: auto;
	overflow-y: hidden;
	background-color: rgb(239,238,238);

	.axis path{
		stroke: #B4B4B4;
	}
	.axis {
		font-size: 12px;
		fill: #B0B0B0;
		.domain {
			stroke-width: 1;
			fill: none;
		}
		.tick > text {
			fill: #777;
		}
	}

}

#screenshot_view {
	width: 100%;
	height: 260px;
	background-color: rgb(239,238,238);
	overflow-x: scroll;
	padding: 10px 0px;
	#screenshot_row {
		width: 3000px;
		img {
			background-color: #A9D8B9;
			margin: 0 2px;
			padding: 5px 5px;
			width: 130px
		}
	}
}

.graph_wrapper {
	width: 100%;
	background-color: rgb(239,238,238);
}

#mem_chart {
	overflow: auto;
	position: relative;
	margin: 0px;
	padding: 10px;
	.legend {
		position: absolute;
		top: 0px;
		right: 0px;
		z-index: 100;
	}
}

#memory {
	overflow-x: auto;
	overflow-y: hidden;
	width: 100%;
	background-color: rgb(239,238,238);
	.axis path{
		stroke: #B4B4B4;
	}
	.x.axis {
		font-size: 12px;
		fill: #B0B0B0;
		.domain {
			stroke-width: 1;
			fill: none;
		}
		.tick > text {
			fill: #777;
		}
	}
	.y.axis {
		font-size: 12px;
		fill: #B0B0B0;
		.domain {
			stroke-width: 1;
			fill: none;
		}
		.tick > text {
			fill: #777;
		}
	}
}

#cpu_chart {
	overflow: auto;
	position: relative;
	margin: 0px;
	padding: 10px;
	.legend {
		position: absolute;
		top: 0px;
		right: 0px;
		z-index: 100;
	}
}
#cpu {
	overflow-x: auto;
	overflow-y: hidden;
	margin: 0px;
	padding: 0px;
	width: 100%;
	background-color: rgb(239,238,238);

	.axis path{
		stroke: #B4B4B4;
	}
	.x.axis {
		font-size: 12px;
		fill: #B0B0B0;
		.domain {
			stroke-width: 1;
			fill: none;
		}
		.tick > text {
			fill: #777;
		}
	}
	.y.axis {
		font-size: 12px;
		fill: #B0B0B0;
		.domain {
			stroke-width: 1;
			fill: none;
		}
		.tick > text {
			fill: #777;
		}
	}
}

/* graph css */



.cpu_path {
	fill: none;
	stroke: #60BD89;
	stroke-width: 2px;
}

.mem_path_dh {
	fill: none;
	stroke: #5DBE88;
	stroke-width: 2px;
}

.mem_path_nh {
	fill: none;
	stroke: #E7CC2F;
	stroke-width: 2px;
}

.tooltip {
	border: dotted;
	border-width: 1px;
	width: 100px;
	height: 30px;
	background-color: rgba(200,200,200,0.2);
}