// Place all the styles related to the DetailReports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$event_div_height: 150px;
$mem_div_height: 340px;
$cpu_div_height: 340px;

#test_results {
	margin-top: 80px;
	min-width: 600px;
	width: 100%;

	.half_width_block {
		min-width: 300px;
		width: 50%;
		float: left;
	}

	.full_width_block {
		min-width: 600px;
		width: 100%;
		float: left;

		.graph {
			height: 100%;
			min-width: 370px;
			float: left;
		}

		.graph_details {
			height: 100%;
			width: 200px;
			float: left;

			.graph_detail_info {
				height: 50%;
				width: 200px;
			}

			.graph_detail_control {
				width: 200px;
				height: 50%;
			}
		}

		.graph_updown {
			height: 100%;
			width: 30px;
			float: left;
		}
	}

	#test_stats {
		
	}

	#test_avg {

	}

}

#event_div {
	height: $event_div_height;
}

#mem_div {
	height: $mem_div_height;
}

#cpu_div {
	height: $cpu_div_height;
}


svg {
    font: 10px sans-serif;
}

.axis path, .axis line {
	fill: none;
	stroke-width: 1px;
}

.x.axis path {
	stroke: black;
}

.x.axis line {
	stroke: black;
	stroke-opacity: .5;
}

.y.axis line {
	stroke: #ddd;
}

path.line {
	fill: none;
	stroke: black;
	stroke-width: .5px;
}

rect.pane {
	cursor: move;
	fill: none;
	pointer-events: all;
}

.dot {
	stroke: black;
	stroke-width: 2;
	fill: white;
	cursor: help; //possible alternatives: pointer
}

.legend {
	font: 12px sans-serif;
}