// Place all the styles related to the DetailReports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//index

.test-result-list {
	width: 100%;
	th {
		padding: 5px;
		color: #287044;
		font-size: 12px;
		text-align: center;
		background-color: #A9D8B9;
	}
	td {
		padding: 5px;
		color: #5E5E5E;
		font-size: 11px;
		border: 1px solid #A9D8B9;
	}
	tr:hover {
		background-color: #A9D8B9;
	}
}


// show
.below-page-title {
	padding-left: 50px;
	margin-top: -45px;
	color: rgb(93,196,136);
	font: 17px;
}

.detail-report {

	width: 100%;
	font-size: 11pt;
	color: #605E5A;

	.event-screenshot {
		height: 320px;

		.event-screenshot-inner {
			height: 100%;
		}

		.event-screenshot-each {
			width: 140px;
			padding: 10px;
			margin: 0 5px;
			background-color: #A9D8B9;
			img {
				width: 120px;
				height: 200px;
			}
		}

		.event-each {
			background-image: url('/assets/event.png');
			width: 120px;
			height: 50px;
			background-size: 120px 50px;
			background-repeat: no-repeat;
		}
		.event-each:hover {
			background-image: url('/assets/event_click.png');
		}

	}

	.summary-area {
		height: 320px;
		background-color: #EFEEEE;
	}

	.summary-key {
		padding: 5px;
		color: #5DBE88;
	}
	
	.summary-value {
		padding: 5px;
	}

	.summary-block {
		height: 40px;
		padding: 2px 5px;
		text-align: center;
	}
}

.detail-report-charts {
	height: 200px;
	
	#cpu-chart {
		height: 200px;
	}
	
	#mem-chart {
		height: 200px;
	}

	.axis {
		font-size: 10px;
		fill: none;
		color: #A1A1A1;
		stroke: #A1A1A1;
		shape-rendering: crispEdges;
	}

	.cpu-area {
		fill: #A1A1A1;
	}

	.mem-area {
		fill: #A1A1A1;
	}
}

