// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//** projects/index.html.erb **//

.page-title-project {
	margin: 30px 0;
	color: rgb(40,112,68);
	font-size: 20px;
	img {
		width: 40px;
		margin-right: 16px;
	}
}

.project_box {

	height: 150px;
	display: inline-block;
	margin-bottom: 30px;

	.color_band {
		width: 25px;
		height: 150px;
		float: left;
		background-color: rgb(93,190,136);
	}

	.color_band_fail {
		width: 25px;
		height: 150px;
		float: left;
		background-color: rgb(229,96,60);
	}

	.color_band_warning {
		width: 25px;
		height: 150px;
		float: left;
		background-color: rgb(248,207,36);
	}

	.app_icon_box {
		width: 120px;
		height: 150px;
		float: left;
		img {
			margin-top: 25px;
			margin-left: 10px;
			width:100px;
			height:100px;
		}
		background-color: rgb(239,239,239);
	}

	.app_info_box {
		width: 200px;
		height: 150px;
		float: left;
		background-color: rgb(239,239,239);

		font-size: 14px;
		color: rgb(96,94,90);
		
		.project_title {
			font-size: 20px;
			color: rgb(96,94,90);
			margin-top: 35px;
			margin-bottom: 5px;
			a {
				font-size: 20px;
				color: rgb(96,94,90);
			}
		}

		.date_version {
			display: inline-block;
			width: 40px;
		}

	}

	.test_fail_box {
		width: 800px;
		height: 150px;
		float: left;
		margin-left: 25px;
		padding: 22px 34px 22px 34px;
		font-size: 16px;
		background-color: rgb(239,239,239);
		color: #605e5a;
	}
}

.project-new {
	background-image: url('/assets/plus.png');
	float: right;
	width: 30px;
	height: 30px;
	background-size: 30px 30px;
	background-repeat: no-repeat;
}
.project-new:hover {
	background-image: url('/assets/plus_click.png');
}

#new-project-modal {
	.modal-content {
		border-radius: 0px;
		height: 300px;
		width: 300px;
		margin-top: -150px;
		margin-left: -150px;
	}
	.modal-header {
		text-align: center;
		font-size: 16px;
		color: #287044;
		background-color: #4FB475;
		img {
			width: 40px;
			margin: 0 10px;
		}
	}
	.modal-body {
		text-align: center;
	}
	.modal-dialog {
		margin: 0;
		position: absolute;
		top: 50%;
		left: 50%;
	}
}

body.modal-open .container {
	-webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}

//** projects/show.html.erb **//

.dashboard {
	display: inline-block;
	width: 100%;
}

.dashboard-left {
	background-color: #EFEEEE;
	width: 30%;
	float: left;
}

.dashboard-right {
	background-color: #EFEEEE;
	width: 67%;
	float: left;
	margin-left: 3%;
	padding: 0 20px;
}

.dashboard-test-error {
	width: 100%;
	.test-error-table {
		width: 90%;
		margin: 15px 5%;
		th {
			padding: 5px;
			color: #287044;
			font-size: 12px;
			text-align: center;
			background-color: #A9D8B9;
		}
		td {
			padding: 5px;
			color: #5E5E5E;
			font-size: 12px;
			border: 1px solid #A9D8B9;
			text-align: center;
		}
		tr {
			background-color: white;
		}
		tr:hover {
			background-color: #A9D8B9;
		}
	}
}

#test_fail_graph {
	margin: 5px 0;
	padding: 0;
	width: 100%;
	height: 360px;
	background-color: rgb(239,238,238);

	#test_fail_bar_graph {
		margin: 0;
		padding: 0;
		width: 60%;
		float: left;

		.axis path{
			stroke: #B4B4B4;
		}
		.axis {
			font-size: 12px;
			fill: #B0B0B0;
			stroke-width: 1;
			.tick > text {
				fill: #777;
			}
		}
	}

	#test_fail_chart {
		margin: 0;
		padding: 0;
		width: 40%;
		float: left;

		.table_title {
			text-align: center;
			font-size:18px;
			margin: 35px auto 15px auto;
			.rank {
				display: inline-block;
				margin-right: 18px;
			}
			.device_name {
				display: inline-block;
				color: #287044;
			}
		}
		table {
			text-align: center;
			font-size: 14px;
			background-color: white;
			padding: 5px;
			margin: 0 auto;
			color: #A7A7A7;
			.table_head {
				color: #287044;
				background-color: #A9D8B9;
				.name {
					width: 160px;
				}
				.error {
					width: 240px;
				}
			}
			tr td {
				border: solid 1px;
				border-color: #A9D8B9;
				padding: 5px;
			}
		}
	}
}

#project-trends {
	margin: 0px;
	padding: 0px;
	background-color: rgb(239,238,238);
	width: 100%;
	font-size: 13px;

	p {
		text-align: center;
	}

	.trend-div {
		color: rgb(96,94,90);
	}
	
	.axis path{
		stroke: #B4B4B4;
	}
	.axis {
		font-size: 12px;
		fill: #B0B0B0;
		.domain {
			stroke-width: 1;
		}
		.tick > text {
			fill: #777;
		}
	}

	.x > .tick > line {
		stroke: transparent;
	}
	.y > .tick > line {
		stroke: #B4B4B4;
		stroke-width: 0.5;
		stroke-dasharray: 2,2;
	}

	.failure-path {
		stroke: #D87342;
		stroke-width: 2;
		fill: none;
	}

	.warning-path {
		stroke: #E7CC2F;
		stroke-width: 2;
		fill: none;
	}

	.pass-path {
		stroke: #5DBE88;
		stroke-width: 2;
		fill: none;
	}

	.failure-area {
		stroke: none;
		fill: #D87342;
		opacity: 0.1;
	}

	.warning-area {
		stroke: none;
		fill: #E7CC2F;
		opacity: 0.1;
	}

	.pass-area {
		stroke: none;
		fill: #5DBE88;
		opacity: 0.1;
	}

	.max-path {
		stroke: #D87342;
		stroke-width: 2;
		fill: none;
	}

	.avg-path {
		stroke: #E7CC2F;
		stroke-width: 2;
		fill: none;
	}

	.min-path {
		stroke: #5DBE88;
		stroke-width: 2;
		fill: none;
	}

	.max-area {
		stroke: none;
		fill: #D87342;
		opacity: 0.05;
	}

	.avg-area {
		stroke: none;
		fill: #E7CC2F;
		opacity: 0.1;
	}

	.min-area {
		stroke: none;
		fill: #5DBE88;
		opacity: 0.1;
	}

	.failure-dot {
		fill: #D87342;
	}

	.warning-dot {
		fill: #E7CC2F;
	}

	.pass-dot {
		fill: #5DBE88;
	}

	.max-dot {
		fill: #D87342;
	}

	.avg-dot {
		fill: #E7CC2F;
	}

	.min-dot {
		fill: #5DBE88;
	}


	.legend {
		font-size: 12px;
		fill: #555;
	}

	.trend-div {
		margin: 0px;
		padding: 10px;
		height: 240px;
	}

	#test-results {
		background-color: rgb(239,238,238);
	}

	#cpu-trend {
		background-color: rgb(239,238,238);
	}

	#mem-trend {
		background-color: rgb(239,238,238);
	}

	#network-trend {
		background-color: rgb(239,238,238);
	}

	#battery-trend {
		background-color: rgb(239,238,238);
	}

	#thread-trend {
		background-color: rgb(239,238,238);
	}

	#frame-trend {
		background-color: rgb(239,238,238);
	}

}