// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//** projects/index.html.erb **//

.project_box {

	height: 150px;
	display: inline-block;
	margin-bottom: 30px;

	.color_band {
		width: 25px;
		height: 150px;
		float: left;
		background-color: rgb(93,190,136);
	}

	.color_band_fail {
		width: 25px;
		height: 150px;
		float: left;
		background-color: rgb(229,96,60);
	}

	.color_band_warning {
		width: 25px;
		height: 150px;
		float: left;
		background-color: rgb(248,207,36);
	}

	.app_icon_box {
		width: 120px;
		height: 150px;
		float: left;
		img {
			margin-top: 25px;
			margin-left: 10px;
			width:100px;
			height:100px;
		}
		background-color: rgb(239,239,239);
	}

	.app_info_box {
		width: 200px;
		height: 150px;
		float: left;
		background-color: rgb(239,239,239);

		font-size: 14px;
		color: rgb(96,94,90);
		
		.project_title {
			font-size: 20px;
			color: rgb(96,94,90);
			margin-top: 35px;
			margin-bottom: 5px;
			a {
				font-size: 20px;
				color: rgb(96,94,90);
			}
		}

		.date_version {
			display: inline-block;
			width: 40px;
		}

	}

	.test_fail_box {
		width: 800px;
		height: 150px;
		float: left;
		margin-left: 25px;
		padding: 22px 34px 22px 34px;
		font-size: 16px;

		background-color: rgb(239,239,239);
		.test_fail_num {
			.test_fail_each{
				font-size: 19px;
				width: 25%;
				height: 100;
				float:left;
				text-align: center;

				.test_fail {
					text-align: left;
					padding-left: 5px;
					height:28px;
					border-top-left-radius: 14px;
					border-bottom-left-radius: 14px;
					background-color: rgb(229,96,60);
					position: absolute;
					top: 0px;
					left: 0px;
				}
				.test_success{
					text-align: right;
					padding-right: 5px;
					font-size: 21px;
					color: white;
					height: 28px;
					width: 170px;
					border-radius: 14px;
					background-color: rgb(93,190,136);
					position: relative;
				}
			}
		}
	}
}

//** projects/show.html.erb **//

#overview-box{
	height: 120px;
	color: rgb(96,94,90);
	background-color: rgb(239,238,238);

	#app-info-box{
		font-size: 14px;
		float: left;
		padding: 10px 0 0 24px;
		p {
			margin-bottom: 5px;
		}
	}
	
	#app-version-box{
		padding: 10px 0 0 0;
		float: left;
		.big-version {
			font-size: 41px;
		}
	}

	.report-link {
		height: 100%;
		float: left;
		img {
			margin: 0 auto;
		}
	}
}

#test_fail_graph {
	margin: 5px 0;
	padding: 0;
	width: 100%;
	height: 360px;
	background-color: rgb(239,238,238);

	#test_fail_bar_graph {
		margin: 0;
		padding: 0;
		width: 60%; //1170*0.6 =702
		float: left;

		.axis path{
			stroke: #B4B4B4;
		}
		.axis {
			font-size: 12px;
			fill: #B0B0B0;
			stroke-width: 1;
			.tick > text {
				fill: #777;
			}
		}

	}

	#test_fail_chart {
		margin: 0;
		padding: 0;
		width: 40%; //1170*0.4 = 468
		float: left;

		.table_title {
			text-align: center;
			font-size:18px;
			margin: 35px auto 15px auto;
			.rank {
				display: inline-block;
				margin-right: 18px;
			}
			.device_name {
				display: inline-block;
				color: #287044;
			}
		}
		table {
			text-align: center;
			font-size: 14px;
			background-color: white;
			padding: 5px;
			margin: 0 auto;
			color: #A7A7A7;
			.table_head {
				color: #287044;
				background-color: #A9D8B9;
				.name {
					width: 160px;
				}
				.error {
					width: 240px;
				}
			}
			tr td {
				border: solid 1px;
				border-color: #A9D8B9;
				padding: 5px;
			}
		}
	}
}

#project_trends {
	margin: 0px;
	padding: 0px;
	background-color: rgb(239,238,238);
	width: 100%;
	font-size: 15px;

	p {
		text-align: center;
	}
	
	.axis path{
		stroke: #B4B4B4;
	}
	.axis {
		font-size: 12px;
		fill: #B0B0B0;
		.domain {
			stroke-width: 1;
		}
		.tick > text {
			fill: #777;
		}
	}

	.x > .tick > line {
		stroke: transparent;
	}
	.y > .tick > line {
		stroke: #B4B4B4;
		stroke-width: 0.5;
		stroke-dasharray: 2,2;
	}

	.legend {
		font-size: 12px;
		fill: #555;
	}

	#test_results {
		width: 100%;
		padding: 10px 100px;
		float: left;
		background-color: rgb(239,238,238);
	}

	#cpu_trend {
		width: 50%;
		padding: 10px 10px;
		float: left;
		background-color: rgb(239,238,238);
	}

	#mem_trend {
		width: 50%;
		padding: 10px 10px;
		float: left;
		background-color: rgb(239,238,238);
	}

	#network_trend {
		width: 50%;
		padding: 10px 10px;
		float: left;
		background-color: rgb(239,238,238);
	}

	#battery_trend {
		width: 50%;
		padding: 10px 10px;
		float: left;
		background-color: rgb(239,238,238);
	}

	#thread_trend {
		width: 50%;
		padding: 10px 10px;
		float: left;
		background-color: rgb(239,238,238);
	}

	#frame_trend {
		width: 50%;
		padding: 10px 10px;
		float: left;
		background-color: rgb(239,238,238);
	}

}