.sidebar {
  position: absolute;
  top: 0px;
  left: 0px;
  margin-top: 50px;
  width: 240px;
  height: 100%;
  background-color: rgb(219,238,225);
  overflow: hidden;
  z-index: 1000;
  .project_app {
    padding: 20px 0px;
    text-align: center;
    margin: 0px auto;
    font-size: 19px;
    color: rgb(96,94,90);
    img {
      margin: 10px auto;
      width: 150px;
      height: 150px;
    }
  }
  .sidebar_menu {
    div {
      background-color: #C9E6D2;
      height: 32px;
      font-size: 14px;
      vertical-align: bottom;
      img {
        margin: 0px 10px 0px 50px;
        width: 32px;
        vertical-align: text-middle;
      }
    }
    div:hover {
      background-color: #A9D8B9;
    }
  }
}

.contents{
	padding-left: 250px;
}
