.sidebar {
  position: absolute;
  top: 0px;
  left: 0px;
  margin-top: 50px;
  width: 200px;
  min-height: 100%;
  background-color: rgb(219,238,225);
  overflow: hidden;
  z-index: 1000;
  .project_app {
    padding: 20px 0px;
    text-align: center;
    margin: 0px auto;
    font-size: 19px;
    color: rgb(96,94,90);
    img {
      margin: 10px auto;
      width: 120px;
      height: 120px;
    }
  }
  .sidebar_menu {
    .menu {
      background-color: #C9E6D2;
      height: 40px;
      font-size: 14px;
      color: rgb(96,94,90);
      line-height: 40px;
      img {
        margin: 0px 10px 0px 30px;
        width: 32px;
        vertical-align: text-middle;
      }
    }
    .menu:hover {
      background-color: #A9D8B9;
    }
  }
  .divider {
    width: 200px;
    height: 2px;
    background-image: url('/assets/line.png');
    background-size: 200px 2px;
    background-repeat: no-repeat;
  }
}

.contents{
	padding-left: 210px;
  min-width: 1280px;
}
