// Place all the styles related to the TestScenarios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//**index**//

.scenario-list-table {
	width: 100%;
	margin-top: 20px;

	th {
		background-color: #A9D8B9;
		color: #287044;
		font-size: 13px;
		border: solid 1px #A9D8B9;
		padding: 5px;
		text-align: center;
	}

	td {
		color: #5E5E5E;
		font-size: 12px;
		padding: 5px;
		border: solid 1px #A9D8B9;
	}
}

.show-button {
	background-image: url('/assets/show.png');
	margin: 0 auto;
	width: 80px;
	height: 20px;
	background-size: 80px 20px;
	background-repeat: no-repeat;
}
.show-button:hover {
	background-image: url('/assets/show_click.png');
}

//**show**//

.scenario-info {
	padding: 10px 30px;
	margin: 10px 0;
	background-color: rgb(239,239,239);
	.scenario-info-title {
		width: 100%;
		padding: 0px;
		line-height: 30px;
		display: inline-block;
		.scenario-rank {
			float: left;
			color: #287044;
			font-size: 22px;
			margin-right: 10px;
			vertical-align: bottom;
		}
		.scenario-name {
			float: left;
			color: #5DBE88;
			font-size: 14px;
			vertical-align: bottom;
		}
	}
	
	.detail_content {
		font-size: 12px;
		color: rgb(96,94,90);
	}
	.recently_tested {
		margin-top: 10px;
		font-size: 12px;
		color: rgb(96,94,90);
	}
}

.edit-button {
	display: inline-block;
	background-image: url('/assets/edit.png');
	float: right;
	width: 30px;
	height: 30px;
	background-size: 30px 30px;
	background-repeat: no-repeat;
	cursor: pointer;
}
.edit-button:hover {
	background-image: url('/assets/edit_click.png');
}

.motion-events-table {
	width: 100%;
	margin-top: 20px;

	th {
		background-color: #A9D8B9;
		color: #287044;
		font-size: 13px;
		border: solid 1px #A9D8B9;
		padding: 5px;
		text-align: center;
	}

	td {
		color: #5E5E5E;
		font-size: 12px;
		padding: 5px;
	}
}

.event-edit-button {
	float: right;
}

.event-flow {
	float: left;
	width: 80%;
	overflow-x: scroll;
	overflow-y: none;
}

#event-detail {
	float: left;
	margin-left: 2%;
	width: 18%;
	height: 85px;
	padding: 10px;
	background-color: #EFEEEE;
	color: #5E5E5E;
	font-size: 12px;
}

#event-flow-inner {
	height: 65px;
	font-size: 12px;
	color: #5E5E5E;
	background-color: #EFEEEE;
	.activity-div {
		float: left;
		background-color: #A9D8B9;
		margin-right: 20px;
		padding: 5px;
		.activity-name {
			padding: 2px;
			width: 100%;
			height: 20px;
		}
	}
	.event-div {
		display: inline-block;
		background-image: url('/assets/event.png');
		padding: 5px 10px;
		width: 100px;
		height: 40px;
		background-size: 100px 40px;
		background-repeat: no-repeat;
	}
}