// Place all the styles related to the TotalReports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//** total_reports/index.html **//

.test-result{
	height: 120px;
	color: rgb(96,94,90);
	background-color: rgb(239,238,238);
	a {
		color: rgb(96,94,90);
	}
	#app-info-box{
		font-size: 14px;
		float: left;
		padding: 10px 0 0 24px;
		p {
			margin-bottom: 5px;
		}
	}
	#app-version-box{
		padding: 10px 0 0 0;
		float: left;
		.big_version {
			font-size: 41px;
		}
	}

	.band-chart-segment {
		width: 25%;
		height: 100%;
		float: left;
		.band-chart-label {
			width: 24px;
			height: 24px;
			border-radius: 12px;
			border: solid 1px;
			margin: 0 auto;
			text-align: center;
			background-color: #FFF;
		}
		.A {
			border-color: rgb(244,86,86);
		}
		.B {
			border-color: rgb(239,134,164);
		}
		.C {
			border-color: rgb(255,130,30);
		}
		.D {
			border-color: rgb(255,186,80);
		}
		.band-chart {
			width: 80%;
			height: 20px;
			margin: 0 auto;
			.band-chart-success {
				position: relative;
				width: 100%;
				height: 100%;
				border-radius: 10px;
				overflow: hidden;
			}
			.band-chart-fail {
				position: absolute;
				height: 100%;
				top: 0;
				right: 0;
				background-color: rgb(93,190,136);
			}
			.A {
				background-color: rgb(244,86,86);
			}
			.B {
				background-color: rgb(239,134,164);
			}
			.C {
				background-color: rgb(255,130,30);
			}
			.D {
				background-color: rgb(255,186,80);
			}
		}
	}

	.report-link{
		margin: 0px;
		padding: 42px 0 0 20px;
		float: left;
		.link-button{
			text-align: center;
			width: 140px;
			height: 36px;
			border: 2px solid;
			padding-top: 7px;
			border-radius: 18px;
			border-color: rgb(52,119,78);
			background-color: rgb(219,238,225);
		}
	}

}

//** total_reports/show.html **//

.test_information {
	height: 110px;

	.test_app_icon {
		width: 100px;
		height: 100%;
		background-color: #EFEEEE;
		float: left;
		img {
			width: 80px;
			height: 80px;
			margin-top: 15px;
			margin-left: 20px;
		}
	}

	.test_information_apk {
		padding: 10px 20px;
		background-color: #EFEEEE;
		width: 160px;
		height: 100%;
		float: left;
		.app_name {
			font-size: 16px;
			padding-bottom: 10px;
			color: rgb(40,112,68);
			display: block;
		}
		.ver {
			font-size: 30px;
		}
	}
	.test_information_others {
		padding: 42px 10px 10px 10px;
		background-color: #EFEEEE;
		width: 200px;
		height: 100%;
		float: left;
	}
}

#test_contents {
	width: 100%;
	#report_contents {
		width: 100%;
	}

	#overview {
		.overview_head {
			width: 100%;
			height: 50px;
			font-size:18px;
			background-color: rgb(239,238,238);
			padding: 20px 0 0 20px;
			color: rgb(40,112,68);
		}
	}
}

#test_failure {
	background-color: rgb(239,238,238);
}

#device_failure {
	margin: 10px 0;
	width: 100%;
	background-color: rgb(239,238,238);
	.axis path{
		stroke: #B4B4B4;
	}
	.axis {
		font-size: 12px;
		fill: #B0B0B0;
		stroke-width: 1;
		.tick > text {
			fill: #777;
		}
	}
}

#performance_average {
	width: 100%;
	background-color: rgb(239,238,238);
	padding: 20px;
	display: inline-block;

	.avg_section {
		padding: 20px;
		width: 33.33%;
		float:left;
		color: rgb(96,94,90);
		background-color: rgb(239,238,238);
		.avg_category {
			text-align: center;
			padding: 8px 0;
			font-size: 18px;
			background-color: rgb(169,216,185);
		}
		.max_min {
			font-size: 14px;
			background-color: white;
			padding-bottom: 20px;
			.max_min_left {
				padding: 20px 0 0 50px;
				display: inline-block;
				width: 140px;
			}
			.max_min_right {
				padding: 20px 0 0 30px;
				display: inline-block;
				width: 140px;
			}
		}
	}
}

.filter_form {
	width: 100%;
	background-color: rgb(239,238,238);
	.filter_list{
		height:35px;
		.filter_attribute {
			padding: 5px 0px 5px 20px;
			float: left;
			width: 120px;
			color: rgb(40,112,68);
			font-size: 15px;
		}
		.filter_value {
			padding: 5px 0px;
			width: 800px;
			color: rgb(96,94,90);
			font-size: 15px;
		}
	}
}

.report_scenario {
	width:100%;
	background-color: rgb(239,238,238);
	padding: 10px 25px;
	.report_scenario_table {
		background-color: rgb(239,238,238);
		td {
			border: solid 1px;
			border-color: #A9D8B9;
		}
		.column_label {
			background-color: #A9D8B9;
			text-align: center;
			font-size: 16px;
			color: rgb(40,112,68);
		}
		.rank {
			width: 80px;
			text-align: center;
			padding: 8px 0;
		}
		.test_name {
			width: 150px;
			text-align: center;
			padding: 8px 0;
		}
		.status {
			width: 150px;
			text-align: center;
			padding: 8px 0;
		}
		.error {
			width: 200px;
			padding: 8px 0 8px 10px;
		}
		.device {
			width: 530px;
			padding: 8px 0 8px 10px;
		}
	}
}

.report_device {
	width:100%;
	display: inline-block;
	background-color: rgb(239,238,238);

	.device_info {
		width: 300px;
		padding-left: 50px;
		background-color: rgb(239,238,238);
		float: left;
		.device_name {
			color: #287044;
			font-size: 18px;
			text-decoration: underline;
		}
		.info {

		}
	}

	.report_device_table {
		display: inline-block;
		float: left;
		width: 870px;
		background-color: rgb(239,238,238);
		padding: 10px 0;
		td {
			border: solid 1px;
			border-color: #A9D8B9;
		}
		.column_label {
			background-color: #A9D8B9;
			text-align: center;
			font-size: 16px;
			color: rgb(40,112,68);
		}
		.rank {
			width: 80px;
			text-align: center;
			padding: 8px 0;
		}
		.test_name {
			width: 150px;
			text-align: center;
			padding: 8px 0;
		}
		.status {
			width: 150px;
			text-align: center;
			padding: 8px 0;
		}
		.error {
			width: 440px;
			padding: 8px 0 8px 10px;
		}
	}
}

#test_contents {
	margin: 20px 0px;
	padding: 0px;
	width:100%;
}