// Place all the styles related to the TotalReports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//** total_reports/index.html **//

.total_report_head {
	margin-top: 40px;
	color: rgb(40,112,68);
	font-size: 26px;
	img {
		margin-right: 16px;
	}
}

.test_result {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 120px;
	color: rgb(96,94,90);
	background-color: rgb(239,238,238);

	.app_info_box {
		font-size: 14px;
		margin: 0px;
		padding: 0 25 0 0px;
		width: 250px;
		height: 100%;
		float: left;
		padding: 10px 0 0 24px;
		p {
			margin-bottom: 5px;
		}
	}

	.app_version_box {
		margin: 0px;
		padding: 10px 0 0 0;
		width: 200px;
		height: 100%;
		float: left;
		.big_version {
			font-size: 41px;
		}
	}

	.test_fail_box {
		margin: 0px;
		padding: 0px;
		width: 540px;
		height: 100%;
		float: left;
	}

	.report_link {
		margin: 0px;
		padding: 42px 0 0 20px;
		width: 180px;
		height: 100%;
		float: left;
		.link_button {
			text-align: center;
			width: 140px;
			height: 36px;
			border: 2px solid;
			padding-top: 7px;
			border-radius: 18px;
			border-color: rgb(52,119,78);
			background-color: rgb(219,238,225);
		}
	}
}

//** total_reports/show.html **//

.test_information {
	height: 100px;

	.test_information_apk {
		padding: 10px 20px;
		background-color: #EFEEEE;
		width: 200px;
		height: 100%;
		float: left;
		.ver {
			display: inline-block;
			font-size: 41px;
		}
	}
	.test_information_others {
		padding: 10px;
		background-color: #EFEEEE;
		width: 300px;
		height: 100%;
		float: left;
	}
}

#test_contents {
	width: 100%;
	#report_contents {
		width: 100%;
	}
}

#test_failure {
	width: 100%;
	height: 100px;
}


.filter_form {
	width: 100%;
	.filter_list{
		height:34px;
	}
}

.report_device {
	width:100%;
}

#test_contents {
	margin: 20px 0px;
	padding: 0px;
	width:100%;
}